<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849019181384-ii3fbk1d9ps8ekf2meqkmnjrd4tnbcht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849019181384-ii3fbk1d9ps8ekf2meqkmnjrd4tnbcht</string>
	<key>API_KEY</key>
	<string>AIzaSyAkE4JA4E694Isl4AZuJ9c2yvre8CNIlM4</string>
	<key>GCM_SENDER_ID</key>
	<string>849019181384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loopin.nepalayluyav3</string>
	<key>PROJECT_ID</key>
	<string>alayluya-51505</string>
	<key>STORAGE_BUCKET</key>
	<string>alayluya-51505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849019181384:ios:40b2a12fcff6d907a57b7d</string>
</dict>
</plist>